<h2>Simulação de Estado Físico</h2>
<ul>
  <li
    *ngFor="let elemento of elementoService.elementos"
    (click)="selecionarElemento(elemento)"
  >
    {{ elemento.nome }} ({{ elemento.simbolo }})
  </li>
</ul>

<div *ngIf="elementoService.elementoSelecionado()" class="selection">
  <div class="elements">
    <p>
      Elemento Selecionado: {{ elementoService.elementoSelecionado()?.nome }}
    </p>
  </div>
  <div class="temperature">
    <p>Temperatura Atual: {{ elementoService.temperatura() }}°C</p>
    <button (click)="ajustarTemperatura(elementoService.temperatura() + 10)">
      Aumentar Temperatura
    </button>
    <button (click)="ajustarTemperatura(elementoService.temperatura() - 10)">
      Diminuir Temperatura
    </button>
  </div>
  <p>Estado Físico: {{ elementoService.estadoFisico() }}</p>
</div>
