<nav>
  <div>
    <img src="./../assets/Logo - LabSignals.png" alt="" />
  </div>

  <div>
    <ul>
      <li><a routerLink="/intro">Lista de elementos</a></li>
      <li><a routerLink="/effects">Manipulando Estados</a></li>
      <li><a routerLink="/effects-demo">Efeitos Reativos</a></li>
      <li><a routerLink="/elements">Elementos favoritos</a></li>
      <li>
        <a routerLink="/computed-signal">Cálculando a massa dos elementos</a>
      </li>
      <li><a routerLink="/click-counter">Clique</a></li>
      <li><a routerLink="/item-counter">Carrinho de compras</a></li>
    </ul>
  </div>

  <div>
    <img
      src="./../../assets/Banner.png"
      alt="Descrição da Imagem"
      class="image-container"
    />
  </div>

  <div class="element-container">
    <router-outlet name="list"></router-outlet>
    <router-outlet name="details"></router-outlet>
  </div>
</nav>

<router-outlet></router-outlet>
