:host {
  text-align: center;
  color: #e8e8e4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.button {
  width: 190px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 32px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button .icon {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./../../assets/x-white.png");
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.button:hover .icon {
  background-image: url("./../../assets/x-green.png");
}
